<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Mural</title>
</head>

<body>
    <div class="h1 d-flex justify-content-center align-items-center" style="height: 70px; background-color: #D2DAC8;">
        <!-- <img class="flex-start" id="my-logo" src="../assets/logo_cabecalho.png" class="m-3"> -->
        Editar
    </div>

    <form id="my-form" action="/edit/<%=body.id%>" method="POST" class="d-flex flex-column align-items-center">
        <h4>Título</h4>
        <input class="mb-3" id="title" name="title" required value="<%=body.title%>">
        <h4>Descrição</h4>
        <textarea class="mb-3" id="description" name="description"><%=body.description%></textarea>
        <button id="my-save">Salvar</button>
    </form>

    <footer>
        <h6>Desenvolvidor por <a href="https://www.linkedin.com/in/guilherme-mendes-rosa-4898501b8/"
                target="_blank">Guilherme Mendes Rosa</a></h3>
    </footer>
    </div>

</body>

<%- include("partials/style")%>

</html>