<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Mural</title>
</head>

<body>
    <div class="h1 d-flex justify-content-center align-items-center" style="height: 70px; background-color: #D2DAC8;">
        <!-- <img class="flex-start" id="my-logo" src="../assets/logo_cabecalho.png" class="m-3"> -->
        Portal do Aluno
    </div>
    <div class="container">

        <div class="d-flex flex-column align-items-center">

            <h2 class=" mb-4 fw-bold">Mural</h2>

        </div>

        <div id="posts">
            <% for (let i=0; i < docs.length; i++) {%>
                <div class="card mb-4 my-post">
                    <div class="card-header">
                        <h5 class="card-title">
                            <%=docs[i].title%>
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            <%=docs[i].description%>
                        </div>
                    </div>
                </div>
                <%}%>
        </div>
    </div>

    <div style="width: 70px; height: 70px"></div>
    
    <footer>
        <h6>Desenvolvidor por <a href="https://www.linkedin.com/in/guilherme-mendes-rosa-4898501b8/"
                target="_blank">Guilherme Mendes Rosa</a></h3>
    </footer>
    </div>
    
</body>

<%- include("partials/style")%>

</html>